@page
@model ziibdApp.Pages.Department.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Departamenty</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Utwórz nowy departement </a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Email)
                </td>
                <td>
                    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.DepartmentId">Edit</a>
                    <a asp-page="./Details" class="btn btn-light" asp-route-id="@item.DepartmentId">Details</a>
                    <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.DepartmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
